<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet"
	href="{{url_for('static',filename='bootstrap.min.css')}}">
<style type="text/css">
body {
	margin-top: 5%;
	background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1),
		rgba(245, 87, 108, 1));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to bottom right, rgba(240, 147, 251, 1),
		rgba(245, 87, 108, 1));
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
</style>
</head>
<body>
	<center>
		<div>
			<a href="{{url_for('addrecord')}}">
				<button class="button button1" type="button">Add Student</button>
			</a>
		</div>
		<div class="mid">
			<table border="1">
				<tr>
					<th>ROLL_NO</th>
					<th>NAME</th>
					<th>AGE</th>
					<th>GENDER</th>
					<th>EMAIL_ID</th>
					<th>DEPARTMENT</th>
					<th>YEAR</th>
					<th>PH_NO</th>
					<th>EDIT</th>
					<th>DELETE</th>
				</tr>
				{% for d in data%}
				<tr>
					<th>{{d.roll_no}}</th>
					<th>{{d.name}}</th>
					<th>{{d.age}}</th>
					<th>{{d.gender}}</th>
					<th>{{d.email_id}}</th>
					<th>{{d.dept}}</th>
					<th>{{d.year}}</th>
					<th>{{d.ph_no}}</th>
					<th><a href="{{url_for('edit',roll=d.roll_no)}}"><button class="button button2" type="button">Edit</button> </a></th>
					 <td><button class="button button2" type="button"data-roll="{{ d.roll_no }}" onclick="confirmDelete(this)">Remove</button></td> 
				</tr>
				{% endfor %}
			</table>
		</div>
	</center>
</body>
<script>
var success_message = "{{ success_message }}";
if (success_message) {
    alert(success_message);
}
function confirmDelete(button) {
    var s = prompt("Enter CONFIRM to delete:");
    if (s === "CONFIRM") {
        var rollNo = button.getAttribute("data-roll");
        var url = "/remove/" + rollNo;
        window.location.href = url;
    }
}
</script>
</html>
